In [1]:
import pandas as pd
# import numpy as np 
from time import time
# import matplotlib.pyplot as plt
# import copy
# from sklearn.preprocessing import StandardScaler

In [ ]:
# ad = pd.read_csv('//media//sajjad//New Volume//Dataset//datadays2020_contest_public_dataset//ad.csv')

In [ ]:
raw_ad_image = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/raw_ad_image3')

In [ ]:
ad_title = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ad_title.csv')

In [2]:
click_test = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/click_test.csv')

In [ ]:
# click_train = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/click_train.csv')

In [ ]:
# event = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/event.csv')
# event.drop('userId',axis=1,inplace=True)

In [ ]:
# page = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/page.csv')

In [ ]:
# page_topic = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/page_topic.csv')

MERGING EVENT AND CLICK_TRAIN ENTITIES

In [ ]:
# mindisplayId = event['displayId'].unique()[:5000]
# optimizer_list = []
# i = 0
# for id_ in mindisplayId :
#     z = pd.merge(event[event['displayId']==id_],click_train[(click_train['displayId']==id_)])
  
#     size = len(z)
#     for j in range(size):
#         optimizer_list.append(z.iloc[j].values)
       
# new_df = pd.DataFrame(optimizer_list,columns=['displayId','timestamp','pageId','widgetId','device','OS','browser','adId','clicked',])
# new_df.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/new_df.pkl')



# new_df = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/new_df.pkl')
# new_df.head()

MERGING AD, AD_TITLE AND AD_IMAGE ENTITIES

In [ ]:
# FIXING STRING IMAGES

# imageFeatures = ad_image['imageFeatures']
# i = 0 
# new_column = []
# for i in range(3256) :
#     s = str(imageFeatures[i]).replace('[','')
#     s = s.replace(']','')
#     l = s.split(',')
#     l = [np.float64(x) for x in l]
#     new_column.append(l)
# ad_image = pd.DataFrame.from_dict({'adId':ad_image['adId'],'imageFeatures':new_column})
# ad_image.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ad_image2.pkl')




# ad_image = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ad_image2.pkl')

In [ ]:
# # # CREATING CTR_AD ==> calcualte ctr for each train ad

# thin_event = event[['displayId']]
# ctr_ad = thin_event.merge(click_train)
# ids = ctr_ad['adId'].unique()
# ctrs = []
# for id_ in ids :
#     tmp = ctr_ad[ctr_ad['adId']==id_]
#     all_accurance = len(tmp)
#     clicked = len(tmp[tmp['clicked']==1])
#     ctrs.append(clicked/all_accurance)
# maped_value = []

# for ctr in ctrs :
#     if ctr < 0.107085 :
#         maped_value.append(4) 
#     elif ctr < 0.157895 :
#         maped_value.append(3)
#     elif ctr < 0.224571 :
#         maped_value.append(2)
#     else :
#         maped_value.append(1)

# # ctr_ids = ctr_ad['adId'].unique()
# all_ids = ad['adId'].unique()
# subtracted_ids = [id_ for id_ in all_ids if id_ not in ids]
# size = len(subtracted_ids)
# ctrs = ctrs + [0.157895 for i in range(size)]
# ctr_ad = pd.DataFrame.from_dict({'adId':list(ids)+list(subtracted_ids) ,
#                                   'ctr' : ctrs ,
#                                   'rank' : maped_value + [3 for i in range(size)]})

# ctr_ad.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ctr_ad.pkl')

# ctr_ad = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ctr_ad.pkl')
# ctr_ad

In [ ]:
# display_ids = list(click_train['displayId']) + list(click_test['displayId'])
# ad_ids = list(click_train['adId']) + list(click_test['adId'])
# size = len(list(click_test['adId']))
# clickeds = list(click_train['clicked']) + [None for i in range(size)]

# kir = pd.DataFrame.from_dict({
#     'displayId':display_ids ,
#     'adId' : ad_ids ,
#     'clicked' : clickeds
# })
# # kir.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/new_df.pkl')

In [ ]:
# MERGING TRAIN AND TEST 
# train_plus_test = pd.concat([click_train,click_test],ignore_index=True)
# train_plus_test.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/train_plus_test.pkl')


# train_plus_test = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/train_plus_test.pkl')

In [ ]:
# calculate all ads in a single display
# even_merge_clicks = event[['displayId']].merge(train_plus_test)
# even_merge_clicks.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/event_merge_clicks.pkl')

# even_merge_clicks = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/train_plus_test.pkl')

In [ ]:
# # calculating commen ids in train and test 
# test_ids = click_test['adId'].unique()
# train_ids = click_train['adId'].unique()
# commen = [x for x in test_ids if x in train_ids]
# commen[1]

In [ ]:
# # click_test
# # start from here
# display_ids = click_test['displayId'] 
# test_ad_ids = click_test['adId'] 
# size = len (test_ad_ids)
# ctrs = [0.121164 for i in range(size)] 
# i = 0 
# for id_ in test_ad_ids :
#     if id_ in commen :
#         ctrs[i] = ctr_ad[ctr_ad['adId']==id_].values[0][1]
#     i+=1 

    
# sub_df = pd.DataFrame.from_dict({
#     'displayId':display_ids ,
#     'adId' : test_ad_ids ,
#     'ctr' : ctrs
# })
# sub_df.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/train_plus_test.pkl')

# sub_df = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/train_plus_test.pkl')

In [ ]:
# sub_df

In [ ]:
# # SORTING SUB_DF AND SAVE IT TO REAL_SUB_DF DATASET

# import time 
# stime = time.time()
# display_ids = sub_df['displayId'].unique()
# sorted_rows = []
# for id_ in display_ids :
#     pp = sub_df[sub_df['displayId']==id_].sort_values(['ctr'],ascending=0).values
#     for row in pp :
#         sorted_rows.append(row)
    

# real_sub_df = pd.DataFrame(sorted_rows,columns=['displayId','adId','ctr'])
# real_sub_df.displayId = real_sub_df.displayId.astype(np.int64)
# real_sub_df.adId = real_sub_df.adId.astype(np.int64)
# ftime = time.time()

# print(ftime - stime)
# real_sub_df

In [ ]:
# display_ids = real_sub_df['displayId'].unique()
# ranks = []

# for id_ in display_ids:
#     size = len(real_sub_df[real_sub_df['displayId']==id_])+1
#     for j in range(1,size):
#         ranks.append(j)
        
# real_sub_df['rank'] = ranks
# real_sub_df.head(10)

In [ ]:
# real_sub_df.drop('ctr',axis=1).to_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/real_sub_df.csv',header=None,index=False)

In [ ]:
# ad_image

In [ ]:
# stime = time()
# ids = raw_ad_image.index
# raw_ad_image['ctr'] = None
# for id_ in ids :
#     each_ad = train_plus_test[train_plus_test['adId']==id_]
#     sum_ = np.sum(each_ad['clicked'])
#     if sum_ != 0 :
#         raw_ad_image.at[id_,'ctr'] = sum_ / (len(each_ad[each_ad['clicked']==1]) + len(each_ad[each_ad['clicked']==0]))
    
# ftime = time()
# print(ftime-stime)

# raw_ad_image.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/raw_ad_image3')

In [ ]:
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.ensemble import ExtraTreesRegressor
# from sklearn.linear_model import ElasticNet
# from sklearn.linear_model import SGDRegressor
# from sklearn.model_selection import train_test_split
# from sklearn.neighbors import KNeighborsRegressor

In [ ]:
# stime = time()
# X_TRAIN = raw_ad_image.dropna().drop(['ctr'],axis=1)
# Y_TRAIN = raw_ad_image.dropna()['ctr']
# X_TEST = raw_ad_image[raw_ad_image['ctr'].isnull()].drop(['ctr'],axis=1)
# model_1 = ExtraTreesRegressor(n_estimators=100,random_state=101)
# model_1.fit(X_TRAIN,Y_TRAIN)
# ftime = time()
# print((ftime-stime)/60)

In [ ]:
Y1_PREDICTED = model_1.predict(X_TEST)
# del model_1

In [ ]:
# assign predicted values to appropriate ad
x_test_ids = X_TEST.index
i = 0
for x in x_test_ids :
    raw_ad_image.at[x,'ctr']= Y1_PREDICTED[i]
    i+=1
raw_ad_image.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ad_image3.pkl')
# del x,x_test_ids,X_TEST ,X_TRAIN,Y_TRAIN

In [ ]:
stime = time()
test_ids = click_test['adId'].unique()
click_test['ctr'] = None 
click_test.index = click_test['adId']
for id_ in test_ids :
    click_test.loc[id_,'ctr'] = raw_ad_image.loc[id_,'ctr']
    
ftime = time()

print((ftime-stime)/60)

In [ ]:
click_test

In [ ]:
from time import time

In [ ]:
click_test['rank'] = None
click_test.index = [i for i in range(1199048)]

In [ ]:
stime = time()
click_test['rank'] = None
click_test.index = [i for i in range(1199048)]
click_test = click_test.sort_values(by=['ctr'],ascending=False)
unique_dis_ids = click_test['displayId'].unique()
disp_dict = dict((el,1) for el in unique_dis_ids)


for i in range(1199048):
  click_test.at[i,'rank']=int(disp_dict[click_test.at[i,'displayId']])
  disp_dict[click_test.at[i,'displayId']]+=1
    
ftime = time()
print((ftime-stime)/60)

In [ ]:
click_test.drop('ctr',axis=1).to_csv('semi_sub.csv',index=False,header=None)

In [ ]:
# WORkING WITH TOPICS
stime = time()
new_ad_title = [[0 for i in range(2683)] for j in range(3256)]
ids = raw_ad_image.index
i = 0 
for id_ in ids :
    grabed = ad_title[ad_title['adId']==id_].values
    for word in grabed :
        new_ad_title[i][word[1]-1] += 1
    i+=1
ftime = time()
print((ftime-stime)/60)
# del i,id_,grabed,word,ids

In [ ]:
from sklearn.decomposition import KernelPCA
from sklearn.preprocessing import StandardScaler

In [ ]:
stime = time()
transformer = KernelPCA(n_components=40,kernel='rbf')
new_array = transformer.fit_transform(new_ad_title)
scaler = StandardScaler()
new_array = scaler.fit_transform(new_array)
ftime = time()
print((ftime-stime)/60)
# del transformer,scaler,new_ad_title

In [ ]:
# new_ad_title_df = pd.DataFrame(new_array,index=raw_ad_image.index)
# del new_array

In [ ]:
new_ad_title_df['ctr'] = raw_ad_image['ctr']
# del ad_image

In [ ]:
new_ad_title_df.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/new_ad_title.pkl')

In [ ]:
# del new_ad_title_df
# new_ad_title_df = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/new_ad_title.pkl')

In [ ]:
# from sklearn.metrics import mean_squared_error,max_error,mean_squared_error

In [ ]:
# new_ad_title_df['ctr']

In [ ]:
# new_ad_title_df.loc[click_test['adId']]['ctr']

In [ ]:
# new_ad_title_df

In [ ]:
from sklearn.metrics import mean_squared_error,max_error,r2_score
from sklearn.neighbors import KNeighborsRegressor
# from sklearn.svm import LinearSVR
# from sklearn.model_selection import GridSearchCV
# from sklearn.linear_model import Ridge

In [ ]:
# print(len(X2_TEST))
# print(len(Y2_TEST))

In [ ]:
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import ExtraTreesRegressor

In [ ]:
X2_TRAIN = new_ad_title_df.drop(['ctr'],axis=1)
Y2_TRAIN = new_ad_title_df['ctr']
X2_TEST = new_ad_title_df.loc[click_test['adId']].drop(['ctr'],axis=1)
Y2_TEST = new_ad_title_df.loc[click_test['adId']]['ctr']

In [ ]:
X2_TRAIN.to_pickle('x2_train.pkl')
X2_TEST.to_pickle('x2_test.pkl')
Y2_TRAIN.to_pickle('y2_train.pkl')
Y2_TEST.to_pickle('y2_test.pkl')

In [ ]:
# stime = time()
# # model_2 = RandomForestRegressor(n_estimators=20,random_state=101)
# # model_2 = KNeighborsRegressor(n_neighbors=3)
# model_2 = ExtraTreesRegressor(n_estimators=50)
# # model_2 = ElasticNet(random_state=101)
# # param_grid = {
# #     'C' :[1,10,100,1000] ,
# #     'gamma' :[1,0.1,0.01,0.001] ,
# # }
# # model_2 = SVR(C=10,gamma=0.01)
# # model_2 = Ridge()
# # model_2 = SGDRegressor()
# model_2.fit(X2_TRAIN,Y2_TRAIN)
# Y2_PREDICTED = model_2.predict(X2_TEST)
# ftime = time()
# print('time = ',(ftime-stime)/60)

In [ ]:
# pd.DataFrame(Y2_PREDICTED).to_pickle('y2_predicted.pkl')

In [ ]:
print('rmse',' = ',np.math.sqrt(mean_squared_error(Y2_PREDICTED,Y2_TEST)))
print('max error' ,' = ',max_error(Y2_PREDICTED,Y2_TEST))
# print('r2 score',' = ',r2_score(y_true=Y2_TEST,y_pred=Y2_PREDICTED))
# print('model score = ',model_2.score(X2_TEST,Y2_TEST))

In [ ]:
# indexes = X2_TEST.index
# test_ids = click_test['adId']
# l = [x for x in test_ids if x not in indexes]
# l

In [ ]:
# click_test['ctr'] = Y2_PREDICTED
# click_test

In [ ]:
# # SORTING click_test AND SAVE IT TO REAL_SUB_DF DATASET
# import time 
# stime = time.time()
# display_ids = click_test['displayId'].unique()
# sorted_rows = []
# for id_ in display_ids :
#     pp = click_test[click_test['displayId']==id_].sort_values(['ctr'],ascending=0).values
#     for row in pp :
#         sorted_rows.append(row)
    

# real_sub_df = pd.DataFrame(sorted_rows,columns=['displayId','adId','ctr'])
# real_sub_df.displayId = real_sub_df.displayId.astype(np.int64)
# real_sub_df.adId = real_sub_df.adId.astype(np.int64)
# ftime = time.time()

# print(ftime - stime)
# real_sub_df

In [ ]:
# display_ids = real_sub_df['displayId'].unique()
# ranks = []

# for id_ in display_ids:
#     size = len(real_sub_df[real_sub_df['displayId']==id_])+1
#     for j in range(1,size):
#         ranks.append(j)
        
# real_sub_df['rank'] = ranks
# real_sub_df

In [ ]:
# real_sub_df.drop('ctr',axis=1).to_csv('sub_df.csv',header=None,index=False)

In [ ]:
# SUBMITTING WITH USER FEATURES

In [117]:
ad_user_clicked_average_ctr = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ad_user_clicked_average_ctr.pkl')

In [116]:
raw_ad_image = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/raw_ad_image3')

In [ ]:
ad_title = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ad_title.csv')

In [118]:
raw_ad_image['adId'] = raw_ad_image.index
raw_ad_image.index = [i for i in range(3256)]

In [119]:
user_word_image_df = ad_user_clicked_average_ctr.merge(raw_ad_image)

In [120]:
user_word_image_df

,adId,avg,0,1,2,3,4,5,6,7,...,503,504,505,506,507,508,509,510,511,ctr
0,6,0.274578,0.000000,0.000000,0.049760,0.407064,0.177637,0.071936,0.000000,0.000000,...,0.454925,0.000000,0.010478,0.205283,0.000000,0.006869,0.366349,0.359391,0.000000,0.306068
1,15,0.267970,0.000000,0.359715,0.377767,0.187400,0.198294,0.014794,0.047533,0.024764,...,0.001755,0.078104,0.339711,0.000000,0.437721,0.397181,0.168317,0.017600,0.239327,0.342427
2,3610,0.188139,0.000000,0.314870,0.740553,0.000000,0.029101,0.090351,0.322417,0.169629,...,0.171585,1.285089,1.343155,0.022169,0.156946,1.287698,0.480979,0.558210,0.327165,0.100239
3,5279,0.187621,0.049938,0.000000,1.490843,0.035037,0.008055,0.039779,1.120581,0.000000,...,0.009380,0.115833,1.853256,0.000000,0.052130,0.412272,0.000000,0.533970,0.446843,0.27735
4,5271,0.202253,0.102475,0.095813,0.011751,0.227317,0.000000,0.118650,0.558728,0.390557,...,0.142122,0.674221,0.214035,0.052751,0.018996,0.033800,0.000000,0.401138,0.146261,0.256753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3251,7863,0.215909,0.001398,0.000000,0.000000,0.045557,0.264038,0.028482,0.504099,0.000000,...,0.583795,0.102440,1.093687,0.395305,0.295513,0.070853,0.209269,0.523830,0.000000,None
3252,7859,0.232828,0.310337,0.000000,0.041894,0.095956,0.849285,0.022965,0.511812,0.167770,...,0.000000,0.011331,0.246525,3.188655,0.803525,0.445379,0.000000,0.283344,0.004682,None
3253,7865,0.180976,0.027210,0.000000,0.513353,0.295720,0.378193,0.000000,0.826202,0.000000,...,0.076248,0.206134,1.364922,0.007159,0.022398,0.492233,0.010553,0.398881,0.298406,None
3254,7867,0.215909,0.003216,0.144424,0.000149,0.246036,0.133644,0.000000,0.915359,0.494597,...,0.429552,0.124412,0.884689,0.471237,0.018215,0.321597,0.000000,0.471502,0.000000,None
3255,7866,0.215909,0.003216,0.144424,0.000149,0.246036,0.133644,0.000000,0.915359,0.494597,...,0.429552,0.124412,0.884689,0.471237,0.018215,0.321597,0.000000,0.471502,0.000000,None

In [ ]:
user_word_image_df.index = user_word_image_df['adId']

In [31]:
user_word_image_df

,adId,avg,0,1,2,3,4,5,6,7,...,503,504,505,506,507,508,509,510,511,ctr
0,6,0.274578,0.000000,0.000000,0.049760,0.407064,0.177637,0.071936,0.000000,0.000000,...,0.454925,0.000000,0.010478,0.205283,0.000000,0.006869,0.366349,0.359391,0.000000,0.306068
1,15,0.267970,0.000000,0.359715,0.377767,0.187400,0.198294,0.014794,0.047533,0.024764,...,0.001755,0.078104,0.339711,0.000000,0.437721,0.397181,0.168317,0.017600,0.239327,0.342427
2,3610,0.188139,0.000000,0.314870,0.740553,0.000000,0.029101,0.090351,0.322417,0.169629,...,0.171585,1.285089,1.343155,0.022169,0.156946,1.287698,0.480979,0.558210,0.327165,0.100239
3,5279,0.187621,0.049938,0.000000,1.490843,0.035037,0.008055,0.039779,1.120581,0.000000,...,0.009380,0.115833,1.853256,0.000000,0.052130,0.412272,0.000000,0.533970,0.446843,0.27735
4,5271,0.202253,0.102475,0.095813,0.011751,0.227317,0.000000,0.118650,0.558728,0.390557,...,0.142122,0.674221,0.214035,0.052751,0.018996,0.033800,0.000000,0.401138,0.146261,0.256753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3251,7863,0.215909,0.001398,0.000000,0.000000,0.045557,0.264038,0.028482,0.504099,0.000000,...,0.583795,0.102440,1.093687,0.395305,0.295513,0.070853,0.209269,0.523830,0.000000,None
3252,7859,0.232828,0.310337,0.000000,0.041894,0.095956,0.849285,0.022965,0.511812,0.167770,...,0.000000,0.011331,0.246525,3.188655,0.803525,0.445379,0.000000,0.283344,0.004682,None
3253,7865,0.180976,0.027210,0.000000,0.513353,0.295720,0.378193,0.000000,0.826202,0.000000,...,0.076248,0.206134,1.364922,0.007159,0.022398,0.492233,0.010553,0.398881,0.298406,None
3254,7867,0.215909,0.003216,0.144424,0.000149,0.246036,0.133644,0.000000,0.915359,0.494597,...,0.429552,0.124412,0.884689,0.471237,0.018215,0.321597,0.000000,0.471502,0.000000,None
3255,7866,0.215909,0.003216,0.144424,0.000149,0.246036,0.133644,0.000000,0.915359,0.494597,...,0.429552,0.124412,0.884689,0.471237,0.018215,0.321597,0.000000,0.471502,0.000000,None

In [121]:
user_word_image_df.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/raw_user_word_image_df.pkl')

In [1]:
import pandas as pd 
from time import time

In [122]:
# user_word_image_df = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/raw_user_word_image_df.pkl')
click_test = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/click_test.csv')

In [43]:
x_train = user_word_image_df.dropna().drop(['ctr','adId'],axis=1)
y_train = user_word_image_df.dropna()['ctr']

In [124]:
user_word_image_df

,adId,avg,0,1,2,3,4,5,6,7,...,503,504,505,506,507,508,509,510,511,ctr
adId,,,,,,,,,,,,,,,,,,,,,
6,6,0.274578,0.000000,0.000000,0.049760,0.407064,0.177637,0.071936,0.000000,0.000000,...,0.454925,0.000000,0.010478,0.205283,0.000000,0.006869,0.366349,0.359391,0.000000,0.306068
15,15,0.267970,0.000000,0.359715,0.377767,0.187400,0.198294,0.014794,0.047533,0.024764,...,0.001755,0.078104,0.339711,0.000000,0.437721,0.397181,0.168317,0.017600,0.239327,0.342427
3610,3610,0.188139,0.000000,0.314870,0.740553,0.000000,0.029101,0.090351,0.322417,0.169629,...,0.171585,1.285089,1.343155,0.022169,0.156946,1.287698,0.480979,0.558210,0.327165,0.100239
5279,5279,0.187621,0.049938,0.000000,1.490843,0.035037,0.008055,0.039779,1.120581,0.000000,...,0.009380,0.115833,1.853256,0.000000,0.052130,0.412272,0.000000,0.533970,0.446843,0.27735
5271,5271,0.202253,0.102475,0.095813,0.011751,0.227317,0.000000,0.118650,0.558728,0.390557,...,0.142122,0.674221,0.214035,0.052751,0.018996,0.033800,0.000000,0.401138,0.146261,0.256753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7863,7863,0.215909,0.001398,0.000000,0.000000,0.045557,0.264038,0.028482,0.504099,0.000000,...,0.583795,0.102440,1.093687,0.395305,0.295513,0.070853,0.209269,0.523830,0.000000,None
7859,7859,0.232828,0.310337,0.000000,0.041894,0.095956,0.849285,0.022965,0.511812,0.167770,...,0.000000,0.011331,0.246525,3.188655,0.803525,0.445379,0.000000,0.283344,0.004682,None
7865,7865,0.180976,0.027210,0.000000,0.513353,0.295720,0.378193,0.000000,0.826202,0.000000,...,0.076248,0.206134,1.364922,0.007159,0.022398,0.492233,0.010553,0.398881,0.298406,None
7867,7867,0.215909,0.003216,0.144424,0.000149,0.246036,0.133644,0.000000,0.915359,0.494597,...,0.429552,0.124412,0.884689,0.471237,0.018215,0.321597,0.000000,0.471502,0.000000,None
7866,7866,0.215909,0.003216,0.144424,0.000149,0.246036,0.133644,0.000000,0.915359,0.494597,...,0.429552,0.124412,0.884689,0.471237,0.018215,0.321597,0.000000,0.471502,0.000000,None

In [123]:
user_word_image_df.index = user_word_image_df['adId']

In [125]:
x_test = user_word_image_df[user_word_image_df['ctr'].isnull()].drop(['ctr','adId'],axis=1)

In [47]:
x_test

,avg,0,1,2,3,4,5,6,7,8,...,502,503,504,505,506,507,508,509,510,511
adId,,,,,,,,,,,,,,,,,,,,,
2080,0.163019,0.000000,0.000000,2.473914,0.342054,0.981594,0.002597,0.077956,0.089595,0.000000,...,0.167813,0.348681,0.002107,1.571391,0.299214,0.000000,0.004461,0.040978,0.554342,0.000000
5298,0.112865,0.410043,0.000000,0.000000,0.321930,0.834887,0.264681,1.231515,0.956624,1.756458,...,0.000000,0.003475,0.647905,0.045115,0.010444,0.130724,0.035896,0.000000,0.401598,0.000000
4419,0.154586,0.084357,0.187206,0.281504,0.130907,1.398701,0.025673,0.436896,0.179695,0.058025,...,0.137931,0.034985,0.036507,0.869150,0.062058,0.668792,0.765801,0.000773,0.075307,1.501870
4425,0.174490,0.000000,0.000000,0.821001,0.003403,0.382860,0.001853,0.000000,0.000000,0.000000,...,0.368863,0.189038,0.000000,0.208428,0.000000,0.092612,1.153629,0.000000,0.040004,0.894083
5269,0.200000,0.000000,0.000000,0.457302,0.548555,0.027639,0.058055,0.000000,0.401854,0.000791,...,0.227878,0.094169,0.051471,0.234763,0.000000,0.039977,1.249902,0.699179,0.340919,0.196084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7863,0.215909,0.001398,0.000000,0.000000,0.045557,0.264038,0.028482,0.504099,0.000000,0.367462,...,0.012589,0.583795,0.102440,1.093687,0.395305,0.295513,0.070853,0.209269,0.523830,0.000000
7859,0.232828,0.310337,0.000000,0.041894,0.095956,0.849285,0.022965,0.511812,0.167770,0.106654,...,0.029138,0.000000,0.011331,0.246525,3.188655,0.803525,0.445379,0.000000,0.283344,0.004682
7865,0.180976,0.027210,0.000000,0.513353,0.295720,0.378193,0.000000,0.826202,0.000000,0.000000,...,0.121223,0.076248,0.206134,1.364922,0.007159,0.022398,0.492233,0.010553,0.398881,0.298406
7867,0.215909,0.003216,0.144424,0.000149,0.246036,0.133644,0.000000,0.915359,0.494597,0.000000,...,0.024028,0.429552,0.124412,0.884689,0.471237,0.018215,0.321597,0.000000,0.471502,0.000000
7866,0.215909,0.003216,0.144424,0.000149,0.246036,0.133644,0.000000,0.915359,0.494597,0.000000,...,0.024028,0.429552,0.124412,0.884689,0.471237,0.018215,0.321597,0.000000,0.471502,0.000000

In [126]:
from sklearn.ensemble import GradientBoostingRegressor,RandomForestRegressor,VotingRegressor
from sklearn.model_selection import GridSearchCV

In [127]:
stime = time()

# model_1 = RandomForestRegressor(n_estimators=150,random_state=101)
model_2 = ExtraTreesRegressor(n_estimators=150)
# model = VotingRegressor([('model1', model_1), ('model_2',model_2)])

y1_pred = model_2.fit(x_train,y_train).predict(x_test)
ftime = time()
print((ftime-stime)/60)

2.7088624914487203

In [128]:
x_test_ids = x_test.index
i = 0
for x in x_test_ids :
    user_word_image_df.at[x,'ctr']= y1_pred[i]
    i+=1

In [129]:
stime = time()
test_ids = click_test['adId'].unique()
click_test['ctr'] = None 
click_test.index = click_test['adId']
for id_ in test_ids :
    click_test.loc[id_,'ctr'] = user_word_image_df.loc[id_,'ctr']
    
ftime = time()

print((ftime-stime)/60)

5.337377874056498

In [136]:
stime = time()
click_test['rank'] = None
click_test.index = [i for i in range(1199048)]
click_test = click_test.sort_values(by=['ctr'],ascending=False)
disp_dict = dict((el,1) for el in click_test['displayId'].unique())


for i in range(len(click_test['ctr'])):
  click_test.at[i,'rank']=int(disp_dict[click_test.at[i,'displayId']])
  disp_dict[click_test.at[i,'displayId']]+=1
    
ftime = time()
print((ftime-stime)/60)

1.3911164999008179

In [138]:
click_test

         displayId  adId        ctr rank
0           941832  7165          1    1
9           655323  7165          1    1
1          1302001  7165          1    1
16          396158  6578          1    1
15          907872  7165          1    1
...            ...   ...        ...  ...
1199043    1253910   820   0.028169    5
1199044    1254872   820   0.028169    5
1199045     937258  2505  0.0206186    5
1199046     350588  2503  0.0113636    5
1199047     345270  2503  0.0113636    5

[1199048 rows x 4 columns]

In [139]:
click_test.drop('ctr',axis=1).to_csv('sub2.15.12.csv',header=None,index=False)

In [74]:
click_test.index = click_test['displayId']

In [113]:
click_test.at[724940,'rank'] = [1,2,3]

In [132]:
click_test

         displayId  adId        ctr rank
748252      941832  7165          1    5
1132728    1262096  6578          1    5
128398      396158  6578          1    4
702228      907872  7165          1    1
1169857    1299802  7165          1    1
...            ...   ...        ...  ...
1126222    1253910   820   0.028169    2
1126867    1254872   820   0.028169    2
741015      937258  2505  0.0206186    5
83180       350588  2503  0.0113636    4
78726       345270  2503  0.0113636    5

[1199048 rows x 4 columns]

In [94]:
len(click_test['displayId'].unique())

270768

In [104]:
id_

1182139

In [98]:
grabed

           displayId  adId        ctr rank
displayId
350588        350588  2503  0.0113636    4
350588        350588   445   0.136825    2
350588        350588   681   0.145374    1
350588        350588  7676   0.225577    5
350588        350588  7668   0.268259    3

In [101]:
[i in range(1,size)]

[False]

In [115]:
# my test 
stime = time()
click_test = click_test.sort_values(by=['ctr'],ascending=False)
display_ids = click_test['displayId'].unique()
i= 0
for id_ in display_ids :
    if i%100 == 0:
        print(i)
    size = len (click_test.loc[id_])+1
    click_test.at[id_,'rank'] = [i for i in range(1,size)]
    i+=1
    
ftime = time()
print((ftime-stime)/60)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100
23200
23300
23400
23500
23600
23700
23800
23900
24000
24100
24200
24300
24400
24500
24600
24700
24800
24900
25000
25100
25200
25300
25400
25500
25600
25700
25800
25900
26000
26100
26200
26300
26400
26500
26600
26700
26800
26900
27000
27100
27200
27300
27400
27500
27600
27700
27800
27900
28000
28100
28200
28300
28400
28500
28600
28700
28800
28900
29000
29100
29200
29300
29400
29500
29600
29700
29800
29900
30000
30100
30200
30300
30400
30500
30600
30700
30800
30900
31000
31100
31200
31300
31400
31500
31600
31700
31800
31900
32000
32100
32200
32300
32400
32500
32600
32700
32800
32900
33000
33100
33200
33300
33400
33500
33600
33700
33800
33900
34000
34100
34200
34300
34400
34500
34600
34700
34800
34900
35000
35100
35200
35300
35400
35500
35600
35700
35800
35900
36000
36100
36200
36300
36400
36500
36600
36700
36800
36900
37000
37100
37200
37300
37400
37500
37600
37700
37800
37900
38000
38100
38200
38300
38400
38500
38600
38700
38800
38900
39000
39100
39200
39300
39400
39500
39600
39700
39800
39900
40000
40100
40200
40300
40400
40500
40600
40700
40800
40900
41000
41100
41200
41300
41400
41500
41600
41700
41800
41900
42000
42100
42200
42300
42400
42500
42600
42700
42800
42900
43000
43100
43200
43300
43400
43500
43600
43700
43800
43900
44000
44100
44200
44300
44400
44500
44600
44700
44800
44900
45000
45100
45200
45300
45400
45500
45600
45700
45800
45900
46000
46100
46200
46300
46400
46500
46600
46700
46800
46900
47000
47100
47200
47300
47400
47500
47600
47700
47800
47900
48000
48100
48200
48300
48400
48500
48600
48700
48800
48900
49000
49100
49200
49300
49400
49500
49600
49700
49800
49900
50000
50100
50200
50300
50400
50500
50600
50700
50800
50900
51000
51100
51200
51300
51400
51500
51600
51700
51800
51900
52000
52100
52200
52300
52400
52500
52600
52700
52800
52900
53000
53100
53200
53300
53400
53500
53600
53700
53800
53900
54000
54100
54200
54300
54400
54500
54600
54700
54800
54900
55000
55100
55200
55300
55400
55500
55600
55700
55800
55900
56000
56100
56200
56300
56400
56500
56600
56700
56800
56900
57000
57100
57200
57300
57400
57500
57600
57700
57800
57900
58000
58100
58200
58300
58400
58500
58600
58700
58800
58900
59000
59100
59200
59300
59400
59500
59600
59700
59800
59900
60000
60100
60200
60300
60400
60500
60600
60700
60800
60900
61000
61100
61200
61300
61400
61500
61600
61700
61800
61900
62000
62100
62200
62300
62400
62500
62600
62700
62800
62900
63000
63100
63200
63300
63400
63500
63600
63700
63800
63900
64000
64100
64200
64300
64400
64500
64600
64700
64800
64900
65000

KeyboardInterrupt:

In [71]:
stime = time()
click_test = click_test.sort_values(by=['ctr'],ascending=True)
unique_dis_ids = click_test['displayId'].unique()
disp_dict = dict((el,1) for el in unique_dis_ids)
click_test['rank'] = None

for i in range(1199048):
  click_test.at[i,'rank']=int(disp_dict[click_test.at[i,'displayId']])
  disp_dict[click_test.at[i,'displayId']]+=1
    
ftime = time()
print((ftime-stime)/60)

1.475175952911377

In [75]:
click_test

           displayId  adId        ctr rank
displayId
350588        350588  2503  0.0113636    4
345270        345270  2503  0.0113636    5
937258        937258  2505  0.0206186    5
1010395      1010395   820   0.028169    5
1254872      1254872   820   0.028169    2
...              ...   ...        ...  ...
1058951      1058951  7165          1    2
655323        655323  7165          1    2
907872        907872  7165          1    1
1302001      1302001  7165          1    1
724940        724940  7165          1    3

[1199048 rows x 4 columns]

In [65]:
click_test.drop('ctr',axis=1).to_csv('sub2.15.12.csv',header=None,index=False)

In [ ]:
# print('rmse = ',np.math.sqrt(mean_squared_error(y_true=fy_test,y_pred = mini_y_pred)))
# print('max error = ',max_error(y_true=fy_test,y_pred = mini_y_pred))
# print('r2-score = ',r2_score(y_true=fy_test,y_pred = mini_y_pred))