In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import copy
# from sklearn.preprocessing import StandardScaler

In [11]:
ad = pd.read_csv('//media//sajjad//New Volume//Dataset//datadays2020_contest_public_dataset//ad.csv')

In [3]:
ad_image = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ad_image.csv')

In [4]:
ad_title = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ad_title.csv')

In [5]:
click_test = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/click_test.csv')

In [6]:
click_train = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/click_train.csv')

In [7]:
event = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/event.csv')
event.drop('userId',axis=1,inplace=True)

In [8]:
page = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/page.csv')

In [9]:
page_topic = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/page_topic.csv')

In [12]:
mindisplayId = event['displayId'].unique()[:1000]
optimizer_list = []
i = 0
for id_ in mindisplayId :
    z = pd.merge(event[event['displayId']==id_],click_train[(click_train['displayId']==id_) & (click_train['clicked']==1)])
  
    size = len(z)
    for j in range(size):
        optimizer_list.append(z.iloc[j].values)
       
new_df = pd.DataFrame(optimizer_list,columns=['displayId','timestamp','pageId','widgetId','device','OS','browser','adId','clicked',])
new_df.head(50)

,displayId,timestamp,pageId,widgetId,device,OS,browser,adId,clicked
0,4706262,1578429005696,3543873,6262,0,0,0,6,1
1,4706267,1578429007726,6245475,607,1,3,0,3475,1
2,4706260,1578429012060,4416499,11458,0,0,1,49,1
3,4706255,1578429017218,6246028,9358,0,0,0,3614,1
4,4706256,1578429021388,5327047,9358,0,0,0,25,1
5,4706235,1578429023501,6245689,9358,0,0,0,25,1
6,4706181,1578429029640,83625,5802,0,0,5,4611,1
7,4706228,1578429035793,4096624,11458,1,1,4,4209,1
8,4706234,1578429036317,6244430,7691,0,0,0,4657,1
9,4706237,1578429039027,6246028,9358,1,1,0,5428,1
10,4706220,1578429049353,5826626,1882,0,0,5,3274,1
11,4706211,1578429049596,6244430,7691,0,0,1,4657,1
12,4706189,1578429059848,6244430,7691,0,0,1,3274,1
13,4706180,1578429060680,4096624,13208,1,1,0,2378,1
14,4706200,1578429061204,6245932,7691,0,0,0,4658,1
15,4706173,1578429064595,6243998,6951,0,0,0,5407,1
16,4706187,1578429068198,5420481,14195,0,0,1,17,1
17,4706176,1578429070914,6106989,10184,0,0,0,5020,1
18,4706158,1578429080610,41933,1422,0,2,2,4327,1
19,4706147,1578429091628,8626,8139,0,0,1,6,1
20,4706160,1578429094674,6207847,14195,0,0,0,3274,1
21,4706146,1578429099618,5213595,11401,1,1,4,4958,1
22,4706148,1578429102122,6133771,12776,0,0,0,4660,1
23,4706143,1578429102271,74091,1765,0,0,5,3274,1
24,4706153,1578429103369,5398935,8893,0,0,0,5196,1
25,4706108,1578429104888,8116,8142,0,0,4,2610,1
26,4706138,1578429116843,6122132,9358,0,0,0,25,1
27,4706132,1578429119148,6079243,7691,0,0,0,4657,1
28,4706123,1578429125019,74091,1765,0,0,5,5236,1
29,4706124,1578429125019,74091,1765,0,0,5,5236,1
30,4706058,1578429128284,6244920,1882,0,0,1,4928,1
31,4706116,1578429138127,6078773,13244,0,0,0,4817,1
32,4706105,1578429154718,6087158,3505,0,0,0,3274,1
33,4706094,1578429159699,74091,1765,0,0,5,5236,1
34,4706069,1578429162985,6142639,11571,0,0,0,3274,1
35,4705940,1578429165084,5576357,12777,0,0,11,28,1
36,4706078,1578429165618,5969961,14284,0,0,0,5196,1
37,4706064,1578429171304,6149383,6333,0,0,0,28,1
38,4706079,1578429171664,4094218,11558,0,0,1,4659,1
39,4706042,1578429178803,1455,10527,0,2,9,3274,1
40,4706059,1578429181521,6244430,7691,0,0,0,5236,1
41,4706057,1578429184376,6244430,7691,0,0,1,4657,1
42,4706046,1578429189017,6243899,633,1,3,0,1012,1
43,4706050,1578429189438,5767065,10184,0,0,0,5020,1
44,4706045,1578429189989,6245620,7759,0,0,0,3634,1
45,4706051,1578429191949,6099384,13925,0,0,5,3372,1
46,4706025,1578429192600,6141907,3505,0,0,1,3274,1
47,4706032,1578429196718,6246028,9358,0,0,0,5375,1
48,4706036,1578429198583,555,2220,0,0,0,5386,1
49,4706030,1578429200784,6244430,7691,0,0,1,4657,1

In [ ]:
# ad.describe()

In [13]:
mindisplayId = ad['adId'].unique()
optimizer_list = []
i = 0
for id_ in mindisplayId :
    z = pd.merge(ad[ad['adId']==id_],ad_title[ad_title['adId']==id_])
  
    size = len(z)
    for j in range(size):
        optimizer_list.append(z.iloc[j].values)
       
ad_general = pd.DataFrame(optimizer_list,columns=['adId','campaignId','advertiserId','wordId'])
ad_general.head(50)
# pd.merge(ad[ad['adId']==7867],ad_title[ad_title['adId']==7867])
del mindisplayId,optimizer_list,id_,z,size,j

In [14]:
mindisplayId = ad['adId'].unique()
optimizer_list = []
i = 0
for id_ in mindisplayId :
    z = pd.merge(ad_general[ad_general['adId']==id_],ad_image[ad_image['adId']==id_])
  
    size = len(z)
    for j in range(size):
        optimizer_list.append(z.iloc[j].values)
       
ad_general = pd.DataFrame(optimizer_list,columns=['adId','campaignId','advertiserId','wordId','imageFeatures'])
# ad_general.head(50)
# pd.merge(ad[ad['adId']==7867],ad_title[ad_title['adId']==7867])
del mindisplayId,optimizer_list,id_,z,size,j

In [26]:
# page_topic.head()
page_topic.head()

     pageId  topicId  confidence
0  10743259       37    0.497099
1  10743259       23    0.016994
2  10743259       10    0.371499
3  10743259        4    0.105349
4  10743258       33    0.245752

In [25]:
page.head()

   pageId  website  publisher
0       1        0          0
1       3        1          1
2       4        2          2
3       5        3          3
4       6        4          4

In [27]:
mindisplayId = page['pageId'].unique()
optimizer_list = []
i = 0
for id_ in mindisplayId :
    z = pd.merge(page[page['pageId']==id_],page_topic[page_topic['pageId']==id_])
  
    size = len(z)
    for j in range(size):
        optimizer_list.append(z.iloc[j].values)
       
page_general = pd.DataFrame(optimizer_list,columns=['pageId','website','publisher','topicId','confidence'])
# ad_general.head(50)
# pd.merge(ad[ad['adId']==7867],ad_title[ad_title['adId']==7867])
del mindisplayId,optimizer_list,id_,z,size,j

KeyboardInterrupt:

In [93]:
# plt.scatter(x='confidence',y='topicId',data=page_topic[page_topic['confidence']>0.7])
# # sns.barplot()
refrenced_df = page_topic[page_topic['confidence']>0.8]
pageIds = refrenced_df['pageId'].unique()
optimizer_list = {'pageId' : [] ,
                  'confidence':[]}
for id_ in pageIds :
    grabed_df = refrenced_df[refrenced_df['pageId']==id_] 
    topics = grabed_df['topicId']
    confidences = grabed_df['confidence']
    l = [0*i for i in range(50)]
    size = len(confidences)
    for j in range(size) :
        l[topics.values[j]] = confidences.values[j]
    
    optimizer_list['pageId'].append(id_)
    optimizer_list['confidence'].append(l)


new_page_topic = pd.DataFrame.from_dict(optimizer_list)
new_page_topic.head()

     pageId                                         confidence
0  10743234  [0, 0, 0, 0, 0, 0, 0, 0.87764394, 0, 0, 0, 0, ...
1  10743233  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2  10743227  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3  10743219  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4  10743206  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [97]:
new_page_topic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1213123 entries, 0 to 1213122
Data columns (total 2 columns):
pageId        1213123 non-null int64
confidence    1213123 non-null object
dtypes: int64(1), object(1)
memory usage: 18.5+ MB