In [1]:
import pandas as pd
import numpy as np 
from time import time
# import matplotlib.pyplot as plt
# import copy
# from sklearn.preprocessing import StandardScaler

In [ ]:
# ad = pd.read_csv('//media//sajjad//New Volume//Dataset//datadays2020_contest_public_dataset//ad.csv')

In [52]:
raw_ad_image = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/raw_ad_image3.pkl')

In [12]:
ad_title = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ad_title.csv')

In [13]:
click_test = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/click_test.csv')

In [ ]:
# click_train = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/click_train.csv')

In [ ]:
# event = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/event.csv')
# event.drop('userId',axis=1,inplace=True)

In [ ]:
# page = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/page.csv')

In [ ]:
# page_topic = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/page_topic.csv')

MERGING EVENT AND CLICK_TRAIN ENTITIES

In [ ]:
# mindisplayId = event['displayId'].unique()[:5000]
# optimizer_list = []
# i = 0
# for id_ in mindisplayId :
#     z = pd.merge(event[event['displayId']==id_],click_train[(click_train['displayId']==id_)])
  
#     size = len(z)
#     for j in range(size):
#         optimizer_list.append(z.iloc[j].values)
       
# new_df = pd.DataFrame(optimizer_list,columns=['displayId','timestamp','pageId','widgetId','device','OS','browser','adId','clicked',])
# new_df.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/new_df.pkl')



# new_df = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/new_df.pkl')
# new_df.head()

MERGING AD, AD_TITLE AND AD_IMAGE ENTITIES

In [ ]:
# FIXING STRING IMAGES

# imageFeatures = ad_image['imageFeatures']
# i = 0 
# new_column = []
# for i in range(3256) :
#     s = str(imageFeatures[i]).replace('[','')
#     s = s.replace(']','')
#     l = s.split(',')
#     l = [np.float64(x) for x in l]
#     new_column.append(l)
# ad_image = pd.DataFrame.from_dict({'adId':ad_image['adId'],'imageFeatures':new_column})
# ad_image.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ad_image2.pkl')




# ad_image = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ad_image2.pkl')

In [ ]:
# # # CREATING CTR_AD ==> calcualte ctr for each train ad

# thin_event = event[['displayId']]
# ctr_ad = thin_event.merge(click_train)
# ids = ctr_ad['adId'].unique()
# ctrs = []
# for id_ in ids :
#     tmp = ctr_ad[ctr_ad['adId']==id_]
#     all_accurance = len(tmp)
#     clicked = len(tmp[tmp['clicked']==1])
#     ctrs.append(clicked/all_accurance)
# maped_value = []

# for ctr in ctrs :
#     if ctr < 0.107085 :
#         maped_value.append(4) 
#     elif ctr < 0.157895 :
#         maped_value.append(3)
#     elif ctr < 0.224571 :
#         maped_value.append(2)
#     else :
#         maped_value.append(1)

# # ctr_ids = ctr_ad['adId'].unique()
# all_ids = ad['adId'].unique()
# subtracted_ids = [id_ for id_ in all_ids if id_ not in ids]
# size = len(subtracted_ids)
# ctrs = ctrs + [0.157895 for i in range(size)]
# ctr_ad = pd.DataFrame.from_dict({'adId':list(ids)+list(subtracted_ids) ,
#                                   'ctr' : ctrs ,
#                                   'rank' : maped_value + [3 for i in range(size)]})

# ctr_ad.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ctr_ad.pkl')

# ctr_ad = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ctr_ad.pkl')
# ctr_ad

In [ ]:
# display_ids = list(click_train['displayId']) + list(click_test['displayId'])
# ad_ids = list(click_train['adId']) + list(click_test['adId'])
# size = len(list(click_test['adId']))
# clickeds = list(click_train['clicked']) + [None for i in range(size)]

# kir = pd.DataFrame.from_dict({
#     'displayId':display_ids ,
#     'adId' : ad_ids ,
#     'clicked' : clickeds
# })
# # kir.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/new_df.pkl')

In [ ]:
# MERGING TRAIN AND TEST 
# train_plus_test = pd.concat([click_train,click_test],ignore_index=True)
# train_plus_test.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/train_plus_test.pkl')


# train_plus_test = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/train_plus_test.pkl')

In [ ]:
# calculate all ads in a single display
# even_merge_clicks = event[['displayId']].merge(train_plus_test)
# even_merge_clicks.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/event_merge_clicks.pkl')

# even_merge_clicks = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/train_plus_test.pkl')

In [ ]:
# # calculating commen ids in train and test 
# test_ids = click_test['adId'].unique()
# train_ids = click_train['adId'].unique()
# commen = [x for x in test_ids if x in train_ids]
# commen[1]

In [ ]:
# # click_test
# # start from here
# display_ids = click_test['displayId'] 
# test_ad_ids = click_test['adId'] 
# size = len (test_ad_ids)
# ctrs = [0.121164 for i in range(size)] 
# i = 0 
# for id_ in test_ad_ids :
#     if id_ in commen :
#         ctrs[i] = ctr_ad[ctr_ad['adId']==id_].values[0][1]
#     i+=1 

    
# sub_df = pd.DataFrame.from_dict({
#     'displayId':display_ids ,
#     'adId' : test_ad_ids ,
#     'ctr' : ctrs
# })
# sub_df.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/train_plus_test.pkl')

# sub_df = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/train_plus_test.pkl')

In [ ]:
# sub_df

In [ ]:
# # SORTING SUB_DF AND SAVE IT TO REAL_SUB_DF DATASET

# import time 
# stime = time.time()
# display_ids = sub_df['displayId'].unique()
# sorted_rows = []
# for id_ in display_ids :
#     pp = sub_df[sub_df['displayId']==id_].sort_values(['ctr'],ascending=0).values
#     for row in pp :
#         sorted_rows.append(row)
    

# real_sub_df = pd.DataFrame(sorted_rows,columns=['displayId','adId','ctr'])
# real_sub_df.displayId = real_sub_df.displayId.astype(np.int64)
# real_sub_df.adId = real_sub_df.adId.astype(np.int64)
# ftime = time.time()

# print(ftime - stime)
# real_sub_df

In [ ]:
# display_ids = real_sub_df['displayId'].unique()
# ranks = []

# for id_ in display_ids:
#     size = len(real_sub_df[real_sub_df['displayId']==id_])+1
#     for j in range(1,size):
#         ranks.append(j)
        
# real_sub_df['rank'] = ranks
# real_sub_df.head(10)

In [ ]:
# real_sub_df.drop('ctr',axis=1).to_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/real_sub_df.csv',header=None,index=False)

In [ ]:
# ad_image

In [ ]:
# stime = time()
# ids = raw_ad_image.index
# raw_ad_image['ctr'] = None
# for id_ in ids :
#     each_ad = train_plus_test[train_plus_test['adId']==id_]
#     sum_ = np.sum(each_ad['clicked'])
#     if sum_ != 0 :
#         raw_ad_image.at[id_,'ctr'] = sum_ / (len(each_ad[each_ad['clicked']==1]) + len(each_ad[each_ad['clicked']==0]))
    
# ftime = time()
# print(ftime-stime)

# raw_ad_image.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/raw_ad_image3')

In [42]:
from sklearn.ensemble import RandomForestRegressor
# from sklearn.linear_model import ElasticNet
# from sklearn.linear_model import SGDRegressor
# from sklearn.model_selection import train_test_split
# from sklearn.neighbors import KNeighborsRegressor

In [54]:
stime = time()
X_TRAIN = raw_ad_image.dropna().drop(['ctr'],axis=1)
Y_TRAIN = raw_ad_image.dropna()['ctr']
X_TEST = raw_ad_image[raw_ad_image['ctr'].isnull()].drop(['ctr'],axis=1)
model_1 = RandomForestRegressor(n_estimators=150,random_state=101)
model_1.fit(X_TRAIN,Y_TRAIN)
ftime = time()
print((ftime-stime)/60)

5.443342387676239

In [55]:
Y1_PREDICTED = model_1.predict(X_TEST)
# del model_1

In [56]:
# assign predicted values to appropriate ad
x_test_ids = X_TEST.index
i = 0
for x in x_test_ids :
    raw_ad_image.at[x,'ctr']= Y1_PREDICTED[i]
    i+=1
raw_ad_image.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/ad_image3.pkl')
# del x,x_test_ids,X_TEST ,X_TRAIN,Y_TRAIN

In [57]:
# WORkING WITH TOPICS
stime = time()
new_ad_title = [[0 for i in range(2683)] for j in range(3256)]
ids = raw_ad_image.index
i = 0 
for id_ in ids :
    grabed = ad_title[ad_title['adId']==id_].values
    for word in grabed :
        new_ad_title[i][word[1]-1] += 1
    i+=1
ftime = time()
print((ftime-stime)/60)
# del i,id_,grabed,word,ids

0.2007798751195272

In [58]:
from sklearn.decomposition import KernelPCA
from sklearn.preprocessing import StandardScaler

In [59]:
stime = time()
transformer = KernelPCA(n_components=40,kernel='rbf')
new_array = transformer.fit_transform(new_ad_title)
scaler = StandardScaler()
new_array = scaler.fit_transform(new_array)
ftime = time()
print((ftime-stime)/60)
# del transformer,scaler,new_ad_title

0.30106368064880373

In [31]:
# new_ad_title_df = pd.DataFrame(new_array,index=raw_ad_image.index)
# del new_array

In [60]:
new_ad_title_df['ctr'] = raw_ad_image['ctr']
# del ad_image

In [61]:
new_ad_title_df.to_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/new_ad_title.pkl')

In [47]:
# del new_ad_title_df
# new_ad_title_df = pd.read_pickle('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/new_ad_title.pkl')

In [ ]:
# from sklearn.metrics import mean_squared_error,max_error,mean_squared_error

In [ ]:
# new_ad_title_df['ctr']

In [ ]:
# new_ad_title_df.loc[click_test['adId']]['ctr']

In [ ]:
# new_ad_title_df

In [62]:
from sklearn.metrics import mean_squared_error,max_error,r2_score
from sklearn.neighbors import KNeighborsRegressor
# from sklearn.svm import LinearSVR
# from sklearn.model_selection import GridSearchCV
# from sklearn.linear_model import Ridge

In [ ]:
# print(len(X2_TEST))
# print(len(Y2_TEST))

In [70]:
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import ExtraTreesRegressor

In [ ]:
X2_TRAIN = new_ad_title_df.drop(['ctr'],axis=1)
Y2_TRAIN = new_ad_title_df['ctr']
X2_TEST = new_ad_title_df.loc[click_test['adId']].drop(['ctr'],axis=1)
Y2_TEST = new_ad_title_df.loc[click_test['adId']]['ctr']

In [72]:
X2_TRAIN.to_pickle('x2_train.pkl')
X2_TEST.to_pickle('x2_test.pkl')
Y2_TRAIN.to_pickle('y2_train.pkl')
Y2_TEST.to_pickle('y2_test.pkl')

In [75]:
stime = time()
# model_2 = RandomForestRegressor(n_estimators=20,random_state=101)
# model_2 = KNeighborsRegressor(n_neighbors=3)
model_2 = ExtraTreesRegressor(n_estimators=50)
# model_2 = ElasticNet(random_state=101)
# param_grid = {
#     'C' :[1,10,100,1000] ,
#     'gamma' :[1,0.1,0.01,0.001] ,
# }
# model_2 = SVR(C=10,gamma=0.01)
# model_2 = Ridge()
# model_2 = SGDRegressor()
model_2.fit(X2_TRAIN,Y2_TRAIN)
Y2_PREDICTED = model_2.predict(X2_TEST)
ftime = time()
print('time = ',(ftime-stime)/60)

time =  0.45172598759333293

In [105]:
pd.DataFrame(Y2_PREDICTED).to_pickle('y2_predicted.pkl')

In [76]:
print('rmse',' = ',np.math.sqrt(mean_squared_error(Y2_PREDICTED,Y2_TEST)))
print('max error' ,' = ',max_error(Y2_PREDICTED,Y2_TEST))
print('r2 score',' = ',r2_score(y_true=Y2_TEST,y_pred=Y2_PREDICTED))
# print('model score = ',model_2.score(X2_TEST,Y2_TEST))

rmse  =  0.037495496754191976
max error  =  0.4664944123342325
r2 score  =  0.7316141346161086

In [81]:
indexes = X2_TEST.index
test_ids = click_test['adId']
l = [x for x in test_ids if x not in indexes]
l

[]

In [83]:
click_test['ctr'] = Y2_PREDICTED
click_test

         displayId  adId       ctr
0           151650  7585  0.220953
1           151650  6257  0.205686
2           151650  6690  0.380187
3           151938  7454  0.174462
4           151938  7370  0.156001
...            ...   ...       ...
1199043    1328957  7039  0.204004
1199044    1328976  7167  0.149486
1199045    1328976   535  0.294924
1199046    1328976  7174  0.229359
1199047    1328976  7182  0.290931

[1199048 rows x 3 columns]

In [124]:
# SORTING click_test AND SAVE IT TO REAL_SUB_DF DATASET
import time 
stime = time.time()
display_ids = click_test['displayId'].unique()
sorted_rows = []
for id_ in display_ids :
    pp = click_test[click_test['displayId']==id_].sort_values(['ctr'],ascending=0).values
    for row in pp :
        sorted_rows.append(row)
    

real_sub_df = pd.DataFrame(sorted_rows,columns=['displayId','adId','ctr'])
real_sub_df.displayId = real_sub_df.displayId.astype(np.int64)
real_sub_df.adId = real_sub_df.adId.astype(np.int64)
ftime = time.time()

print(ftime - stime)
real_sub_df

1614.7057483196259

         displayId  adId       ctr
0           151650  6690  0.380187
1           151650  7585  0.220953
2           151650  6257  0.205686
3           151938  6690  0.380187
4           151938  7715  0.265803
...            ...   ...       ...
1199043    1328957  7039  0.204004
1199044    1328976   535  0.294924
1199045    1328976  7182  0.290931
1199046    1328976  7174  0.229359
1199047    1328976  7167  0.149486

[1199048 rows x 3 columns]

In [126]:
display_ids = real_sub_df['displayId'].unique()
ranks = []

for id_ in display_ids:
    size = len(real_sub_df[real_sub_df['displayId']==id_])+1
    for j in range(1,size):
        ranks.append(j)
        
real_sub_df['rank'] = ranks
real_sub_df

         displayId  adId       ctr  rank
0           151650  6690  0.380187     1
1           151650  7585  0.220953     2
2           151650  6257  0.205686     3
3           151938  6690  0.380187     1
4           151938  7715  0.265803     2
...            ...   ...       ...   ...
1199043    1328957  7039  0.204004     2
1199044    1328976   535  0.294924     1
1199045    1328976  7182  0.290931     2
1199046    1328976  7174  0.229359     3
1199047    1328976  7167  0.149486     4

[1199048 rows x 4 columns]

In [129]:
real_sub_df['rank']

0          1
1          2
2          3
3          1
4          2
          ..
1199043    2
1199044    1
1199045    2
1199046    3
1199047    4
Name: rank, Length: 1199048, dtype: int64

In [131]:
real_sub_df.drop('ctr',axis=1).to_csv('sub_df.csv',header=None,index=False)

In [132]:
click_test

         displayId  adId       ctr
0           151650  7585  0.220953
1           151650  6257  0.205686
2           151650  6690  0.380187
3           151938  7454  0.174462
4           151938  7370  0.156001
...            ...   ...       ...
1199043    1328957  7039  0.204004
1199044    1328976  7167  0.149486
1199045    1328976   535  0.294924
1199046    1328976  7174  0.229359
1199047    1328976  7182  0.290931

[1199048 rows x 3 columns]