In [1]:
import pandas as pd 
import numpy as np 
from time import time

In [2]:
sub = pd.read_csv('sub.15.12.csv')

In [4]:
sub.column = ['displayId','adId','rank']

/home/sajjad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [6]:
sub[sub['1307374']==1058951]

         1307374  7165  1
1        1058951  7165  1
256125   1058951  7312  2
633004   1058951  7303  3
1006067  1058951  7352  4
1028747  1058951  7315  5
1073664  1058951  7364  6

In [3]:
page_user_view = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/user_page_view.csv')

In [ ]:
page_user_view.drop('timestamp',axis=1,inplace=True)

In [10]:
len(page_user_view['pageId'].unique())

1265521

In [12]:
page_user_view[page_user_view['pageId']==8116]

           userId  pageId
0          821961    8116
14         315028    8116
31         138149    8116
33         754005    8116
37        1188961    8116
...           ...     ...
67229737  2062093    8116
67229766   460318    8116
67229767  2350172    8116
67229776  1145897    8116
67229808  1691859    8116

[3009369 rows x 2 columns]

In [17]:
i

90

In [16]:
stime = time()
# page_ids = page_user_view['pageId'].unique()
impression = [] 
i =0 
for id_ in page_ids :
    if i%100000 ==0 :
        print((i/1265521)*100)
    impression.append(len(page_user_view[page_user_view['pageId']==id_]))
    i+=1
ftime = time()
print((ftime-stime)/60)

0.0

KeyboardInterrupt: