In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
user_page_view = pd.read_csv('/media/sajjad/New Volume/Dataset/datadays2020_contest_public_dataset/user_page_view.csv')

In [3]:
user_page_view.head()

    userId   pageId      timestamp
0   821961     8116  1579599211445
1    15321  9533442  1579599211443
2  1125090  9410379  1579599211440
3   407101  8616213  1579599211429
4   781615  9543366  1579599211429